NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyB4MnX0vUuMZCe8Syb3ezJmUcT-mhW530Y
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=the-dost-matrix.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=the-dost-matrix
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=the-dost-matrix.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=670842582485
NEXT_PUBLIC_FIREBASE_APP_ID=1:670842582485:web:ef9811c165d6d02f10b95c
